@import url('https://fonts.googleapis.com/css?family=Open+Sans');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}

body{
    font-family: "Roboto", sans-serif;
    color: #222;
    padding-bottom: 50px;
}

.content{
    max-width: 1200px;
    margin: 0 auto;
}

.hero{
    background-image: url("https://images.pexels.com/photos/450035/pexels-photo-450035.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
    height: 100vh;
}
